@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 32, 33, 35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

* {
  scrollbar-width: thin;
  scrollbar-color: #565869 #202123;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #202123;
}

*::-webkit-scrollbar-thumb {
  background-color: #565869;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8e8ea0;
}
